.techs span {
    transition: all 0.2s;
    font-weight: bold;
}

.techs span:hover {
    background-color: purple;
    border-radius: 10px;
    font-size: larger;
    color: white;
}

.johnBryce {
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
}

.johnBryce a {
    transition: all 0.5s;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 0.2rem;
}

.johnBryce:hover a {
    color: black;
    font-size: x-large;
}