.aboutBody ul {
    list-style-type: none;
}

.aboutBody li {
    transition: all 0.2s;
    font-weight: bold;
}

.aboutBody li:hover {
    background-color: purple;
    border-radius: 10px;
    font-size: larger;
    color: white;
}

.johnBryce {
    transition: all 0.5s;
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 0.2rem;
}

.johnBryce:hover {
    color: black;
    font-size: larger;
}