.techs {
    margin-top: -0.5rem;
}

.techs span {
    transition: all 0.2s;
    font-weight: bold;
}

.techs span:hover {
    background-color: purple;
    border-radius: 10px;
    font-size: larger;
    color: white;
}

.johnBryce {
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
}

.johnBryce a {
    transition: all 0.5s;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 0.2rem;
}

.johnBryce:hover a {
    color: black;
    font-size: x-large;
}

.aboutBody {
    width: 24rem !important;
}

.aboutBody>* {
    transition: all 0.1888s;
    padding: 0.13rem;
    border: 1px solid black;
    border-radius: 1rem;
    background: rgb(244, 244, 244);
    font-weight: bold;
}

.aboutBody h3 {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

.aboutBody>*:hover {
    background: rgb(230, 230, 230);
}