body {
    background-image: url("../Assets/pageBackground.jpg");
    min-height: 37rem;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}