.siteHead {
    position: sticky;
    top: 0;
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 1rem !important;
    background-color: rgb(150, 19, 150);
    z-index: 999;
}

/* B Logo */
h1 span {
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 50%;
    animation: logoAnimation 2.5s infinite;
}

/* B Logo Animation */
@keyframes logoAnimation {
    0% {
        transform: rotate(360deg);
        background-color: rgb(133, 133, 255);
        -webkit-text-stroke: 0.8px white;
    }

    50% {
        background-color: gold;
        color: white;
        -webkit-text-stroke: 1px black;
    }

    100% {
        background-color: rgb(133, 133, 255);
        -webkit-text-stroke: 0.8px white;
    }
}

/*Navigation Buttons */
.navBtns button {
    transition: 0.1s all;
    border: none;
    color: black;
    border-bottom: 3px solid black;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.navBtns button:hover {
    transform: scale(1.1);
}

.navBtns button:active {
    transform: scale(0.9999);
}

/* Search */
.siteHead input {
    transition: all 0.1s;
    padding-left: 10px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 0.5rem;
}

.siteHead input:hover {
    transform: scale(1.1);
}

.siteHead input:active {
    transform: scale(1);
}